/* Variables */

:root {
  --navColor: rgb(240, 192, 64);
  --navHovColor: rgb(208, 160, 0);
  --subHeader: rgb(224, 176, 0);
}

/* :P */

* {transition: rotate 10s linear;}

/* Elements */

body {
  margin: auto;
  margin-top: 1em;
  width: 70%;
  
  background-color: rgb(240, 240, 240);
  
  position: relative;
  
  color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
  background-color: var(--navColor);
  
  border-radius: 0.5rem;
}
h2 {
  text-align: center;
  background-color: var(--subHeader);
  
  border-radius: 0.5rem;
}

p {text-indent: 2em; font-size: 18px}

a {color: var(--navHovColor); font-size: 18px;}
a:hover {color: var(--navColor);}

/* Navigation */

.navigation {
  position: sticky;
  top: 0;
  background-color: rgb(240, 240, 240);
  text-align: left;
  
  z-index: 1;
}

.nav, .navArrow {
  background-color: var(--navColor);
  color: rgb(0, 0, 0);
  padding: 0.25em;
  margin: 0.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  border-radius: 0.5rem;
}

a.nav:hover, a.nav:active, a.navArrow:hover, a.navArrow:active {
  background-color: var(--navHovColor);
  color: rgb(0, 0, 0);
}

.navArrow {
  font-family: Consolas;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

div.navArrow {
  background-color: var(--navHovColor);
  color: rgb(128, 128, 128);
  cursor: not-allowed;
}

/* Sect */

.sectBttn {
  text-align: center;
  line-height: 2em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  cursor: pointer;
}

.sect {
  position: relative;
  overflow-y: hidden;
  transition: max-height 1s;
}

/* Flex */

.horzImgText {
  display: flex;
  justify-content: space-around;
  
  width: 100%;
  
  margin: 1rem
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  
  margin: 1rem;
}

.wrapAround {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  width: 100%;
  
  margin: 1rem;
}

.wrapAround > div {
  margin: 1rem;
}

/* Other */

.caption {
  text-align: center;
}

/* Media */

@media (max-width: 600px) {
  body {
    width: 90%;
  }
  
  .horzImgText {
    flex-direction: column;
    align-items: center;
  }
  
  .horzImgText > div {
    width: 100% !important;
  }
  .centerColumn > div {
    width: 100% !important;
  }
}

/* Load Animation */

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
