/* :P */

* {transition: rotate 10s linear;}

/* Elements */

body {
  margin: auto;
  margin-top: 1em;
  width: 70%;
  
  background-color: rgb(240, 240, 240);
  
  position: relative;
}

h1 {text-align: center;}
h2 {text-align: center;}

p {text-indent: 2rem; font-size: 18px}

a {color: rgb(128, 96, 0); font-size: 18px;}
a:hover {color: rgb(192, 128, 0);}

/* Navigation */

.navigation {
  position: sticky;
  top: 0;
  background-color: rgba(240, 240, 240, 1);
  text-align: center;
}

.nav, .navArrow {
  background-color: rgb(255, 192, 0);
  color: rgb(0, 0, 0);
  padding: 0.25em;
  margin: 0.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
}

a.nav:hover, a.nav:active, a.navArrow:hover, a.navArrow:active {
  background-color: rgb(192, 128, 0);
  color: rgb(0, 0, 0);
}

.navArrow {
  font-family: Consolas;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

div.navArrow {
  background-color: rgb(192, 128, 0);
  color: rgb(128, 128, 128);
  cursor: not-allowed;
}

/* Sect */

.sectBttn {
  text-align: center;
  line-height: 2em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  cursor: pointer;
}

.sect {
  position: relative;
  overflow-y: hidden;
  transition: max-height 1s;
}

/* Flex */

.horzImgText {
  display: flex;
  justify-content: space-around;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapAround {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapAround > div {
  margin: 1rem;
}

/* Other */

.caption {
  text-align: center;
}

/* Media */

@media (max-width: 600px) {
  body {
    width: 90%;
  }
  .horzImgText {
    flex-direction: column;
    align-items: center;
  }
}

/* Load Animation */

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
